/* COURSE CONTENT COMPONENT */
.course-content {
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADING სასწავლო კურსები */
.course-content-header {
  color: #ebebe4;
  width: 70%;
  font-size: 2.3rem;
  font-family: var(--geo-lang);
  margin: 4rem 0;
}

/* PARENT OF ALL COURSES  */
.course-div {
  width: 72%;
  margin-bottom: 6rem;
}

/* RENDERING EACH COURSE */
#components-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
}

/* SINGLE COURSE written in JS */
.single-component {
  border: 1px solid #454545;
  border-radius: 7px;
}

.single-component img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.single-component span {
  margin: 0 2rem;
  font-family: var(--geo-lang);
  font-size: 1.4rem;
  color: white;
}

.course-heading {
  color: #e2e2e2;
  margin: 3rem 2rem;
  font-size: 1.8rem;
  font-family: var(--geo-lang);
  font-weight: 200;
}

/* DIV CONTAINING ARROW AND კურსის დეტალები written in JS */
.svg-span {
  display: flex;
  margin: 7rem 0 2rem 2rem;
  align-items: center;
  color: var(--tbc-blue);
}

.svg-span span {
  color: var(--tbc-blue);
  margin: 1.5rem 1rem;
  font-size: 1.6rem;
  font-family: var(--geo-lang);
  font-weight: 500;
  cursor: pointer;
}

.svg-span svg {
  fill: #00aef3;
  cursor: pointer;
}
