/* FAQ COMPONENT */
.main-faq {
  background-color: var(--background-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENT DIV */
.faq-content {
  width: 72%;
  padding: 8rem 0;
}

/* HEADER */
.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-header h2 {
  color: white;
  font-size: 2.4rem;
  font-family: var(--geo-lang);
  font-weight: 200;
  letter-spacing: 0.3px;
}

.faq-header span {
  color: var(--tbc-blue);
  font-family: var(--geo-lang);
  font-size: 1.9rem;
  font-weight: 500;
  cursor: pointer;
}

.mob-all-questions {
  color: var(--tbc-blue);
  font-family: var(--geo-lang);
  font-size: 1.9rem;
  font-weight: 500;
  cursor: pointer;
  display: none;
}

.faq-header span:hover {
  color: var(--hover-gray);
}

/* FAQ DIV */
.faq-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: var(--geo-lang);
  font-weight: 500;
}

/* SINGLE QUESTION/ANSWER CONTAINER */
.faq-body .faq-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #292626;
}

/* DIV WITH QUESTION AND ARROW */
.question-icon-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* QUESTION */
.faq-item .question {
  font-weight: 500;
  font-size: 1.8rem;
  width: 97%;
  cursor: pointer;
  padding: 2.5rem 0;
  font-family: var(--geo-lang);
  font-weight: 500;
  flex-wrap: wrap;
  margin: 0;
}

/* ARROW */
.faq-body span {
  font-size: 2rem;
  cursor: pointer;
  width: 3%;
}

/* ANSWER */
.answer {
  padding: 2rem 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 200;
  white-space: pre-wrap;
  line-height: 2.4rem;
  text-wrap: nowrap;
  color: white;
  width: 3vw;
}
