/* FOOTER COMPONENT */
.main-footer {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1a1e1f;
  color: #fff;
  display: flex;
  justify-content: center;
}

/* CONTENT DIV */
.footer {
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}

/* LEFT SIDE DIV OF FOOTER */
.footer-left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer-logo img {
  width: 110px;
  margin-bottom: 20px;
}

.footer-left-side span {
  margin: 10px 0;
  font-size: 14px;
  font-family: var(--geo-lang);
}

/* RIGHT SIDE DIV OF FOOTER */
.footer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-social {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.footer-social img {
  width: 3.5rem;
  margin: 0 0.5rem;
}

.footer-button {
  background-color: var(--tbc-blue);
  color: #fff;
  border: none;
  padding: 1rem 3.2rem;
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  font-family: var(--geo-lang);
  transition: background-color 0.8s ease, color 0.8s ease;
  margin-bottom: 0;
}
.footer-button:hover {
  background-color: rgb(219, 215, 215);
  color: black;
}

/* DISSAPEARS ON MOBILE RESPONSIVE  */
.mob-img {
  display: none;
}
