/* HEADER COMPONENT */
.main-header {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(26, 30, 31, 1);
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s;
}

/* HEADER COLOR ON SCROLL */
.header-transparent {
  background-color: rgba(26, 30, 31, 0.95);
}

/* PARENT OF LOGO AND NAVIGATION */
.header-content {
  width: 74%;
  font-family: var(--en-lang);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  padding: 1rem 0;
  position: relative;
}

/* ACADEMY LOGO */
.header-logo img {
  width: auto;
  height: 5.5rem;
  cursor: pointer;
  padding: 0.5px;
}

/* NAVIGATION */
.navigation-bar {
  display: flex;
}

/* EACH NAV LI ELEMENT */
.navigation-bar li {
  display: flex;
  list-style: none;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  margin: 0 20px;
  cursor: pointer;
  white-space: nowrap;
}

.geo-lang {
  font-family: var(--geo-lang);
}

/* CHANGE COLOR ON HOVER */
.main-header .navigation-bar li:hover,
.main-header .navigation-bar li.active-page {
  color: var(--tbc-blue);
}

/* BURGER MENU */
.burger-menu {
  display: none;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  z-index: 1101;
}

/* APPLIES TO ALL THE ELEMENTS ON CLICK ON BURGER MENU */
.blur-effect {
  filter: brightness(60%);
}

.burger-icon {
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: var(--hover-gray);
  margin: 5px 0;
  transition: all 0.3s ease;
}
.line1 {
  width: 70%;
}
.line3 {
  width: 70%;
}

/* TRANSFORMING BURGER ICON TO CLOSE ICON */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* LAYOUT MENU */
.off-canvas-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 65%;
  background: #222222;
  z-index: 1100;
  transition: right 0.5s;
  padding-top: 14rem;
}

/* LAYOUT UL */
.mobile-navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  color: white;
  text-decoration: none;
}

.mobile-navigation-bar li {
  margin: 2.2rem 3rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-end;
}

.mobile-navigation-bar li.active-page {
  color: var(--tbc-blue);
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 4rem 4rem 0;
}

.close-icon span {
  font-weight: 800;
  font-size: 6rem;
  color: var(--hover-gray);
}

/* NO SCROLL WHEN BURGER MENU LAYOUT IS OPEN */
.no-scroll {
  overflow: hidden;
}
