/* HEADER COMPONENT */
.main-header {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(26, 30, 31, 1);
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s;
}

/* HEADER COLOR ON SCROLL */
.header-transparent {
  background-color: rgba(26, 30, 31, 0.95);
}

/* PARENT OF LOGO AND NAVIGATION */
.header-content {
  width: 74%;
  font-family: var(--en-lang);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  padding: 1rem 0;
}

/* ACADEMY LOGO */
.header-logo img {
  width: auto;
  height: 5.5rem;
  cursor: pointer;
  padding: 0.5px;
}

/* NAVIGATION */
.navigation-bar {
  display: flex;
}

/* EACH NAV LI ELEMENT */
.navigation-bar li {
  display: flex;
  list-style: none;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  margin: 0 20px;
  cursor: pointer;
  white-space: nowrap;
}

.geo-lang {
  font-family: var(--geo-lang);
}

/* CHANGE COLOR ON HOVER */
.main-header .navigation-bar li:hover,
.main-header .navigation-bar li.active-page {
  color: var(--tbc-blue);
}

/* BURGER MENU */
/* Burger Menu Icon */
.burger-menu {
  display: none;
  cursor: pointer;
  color: white;
}
.burger-menu span {
  font-size: 7rem;
}

/* Off-Canvas Menu */
.off-canvas-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 65%;
  background: #222222;
  z-index: 1100;
  transition: right 0.5s;
}

/* Mobile Navigation */
.mobile-navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  color: white;
  text-decoration: none;
}

.mobile-navigation-bar li {
  margin: 2.2rem 3rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-end;
}

.mobile-navigation-bar li.active-page {
  color: var(--tbc-blue);
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 4rem 4rem 0;
}

.close-icon span {
  font-weight: 800;
  font-size: 6rem;
  color: var(--hover-gray);
}

/*  */
