/* SECTION COMPONENT */
.main-program-description {
  background-color: var(--background-color-light);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTENT CONTAINER */
.program-description-content {
  width: 72%;
  margin: 5.5rem 0;
}

/* MAIN TEXT */
.program-description-text {
  color: #f4f4f4;
  font-family: var(--geo-lang);
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 4rem;
}

/* LEARN MORE LINK */
.learn-more {
  color: var(--tbc-blue);
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--geo-lang);
  font-weight: 600;
  text-decoration: none;
}

.learn-more:hover {
  color: var(--hover-gray);
}
