/* FOR GLOBAL STYLING */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.web-content {
  display: flex;
  flex-direction: column;
}

:root {
  --background-color-dark: #161616;
  --background-color-light: #2b2b2b;
  --tbc-blue: #00aef0;
  --hover-gray: rgb(172, 166, 166);
  --geo-lang: 'Noto Sans Georgian', sans-serif;
  --en-lang: sans-serif;
}

@media (max-width: 1024px) {
  html {
    font-size: 9.5px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
